<form [formGroup]="qualityCheckForm" (ngSubmit)="onSubmit()">
    <mat-accordion>
      <div formArrayName="qualityChecks">
        <div *ngFor="let qc of qualityChecks.controls; let qcIndex = index" [formGroupName]="qcIndex">
          <mat-expansion-panel [disabled]="!accordionCompletionStatus[qcIndex]">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ qc.value.name }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div formArrayName="stages">
                <mat-accordion>

              <div *ngFor="let stage of qc.get('stages').controls; let stageIndex = index" [formGroupName]="stageIndex">
                <mat-expansion-panel [disabled]="!accordionCompletionStatus[qcIndex]">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Stage {{ stageIndex + 1 }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div>
                    <mat-radio-group formControlName="qcStatus">
                      <mat-radio-button value="accepted">Accept</mat-radio-button>
                      <mat-radio-button class="reject" value="rejected">Reject</mat-radio-button>
                    </mat-radio-group>
                    <div *ngIf="stage.get('qcStatus').value === 'rejected'">
                      <mat-form-field appearance="outline">
                        <mat-label>Rejection Reason</mat-label>
                        <textarea matInput formControlName="rejectionReason" placeholder="Rejection Reason"></textarea>
                      </mat-form-field>
                    </div>
                    <button mat-raised-button color="primary">Next</button>
                </div>
                </mat-expansion-panel>
              </div></mat-accordion>
            </div>
            <button (click)="onAccordionFinish(qcIndex)" mat-raised-button color="primary">Submit</button>
          </mat-expansion-panel>
        </div>
      </div>
    </mat-accordion>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
  