<form [formGroup]="qualityCheckForm" (ngSubmit)="onSubmit()">
  <!-- Mat-accordion container -->
  <mat-accordion>
    <!-- Iterate over each quality check -->
    <div formArrayName="qualityChecks">
      <div
        *ngFor="let qc of qualityChecks.controls; let qcIndex = index"
        [formGroupName]="qcIndex"
      >
        <!-- Mat-expansion-panel for each quality check -->
        <mat-expansion-panel
          [disabled]="!childaccordionCompletionStatus[qcIndex][0]"
        >
          <!-- Expansion panel header -->
          <mat-expansion-panel-header>
            <mat-panel-title>{{ qc.value.name }}</mat-panel-title>
          </mat-expansion-panel-header>
          <div formArrayName="stages">
            <!-- Mat-accordion container for stages -->
            <mat-accordion>
              <!-- Iterate over each stage -->
              <div
                *ngFor="
                  let stage of qc.get('stages').controls;
                  let stageIndex = index
                "
                [formGroupName]="stageIndex"
              >
                <!-- Mat-expansion-panel for each stage -->
                <mat-expansion-panel
                  [disabled]="
                    !childaccordionCompletionStatus[qcIndex][stageIndex]
                  "
                >
                  <!-- Expansion panel header for stage -->
                  <mat-expansion-panel-header>
                    <mat-panel-title
                      >Stage {{ stageIndex + 1 }}</mat-panel-title
                    >
                  </mat-expansion-panel-header>
                  <!-- Panel content -->
                  <div>
                    <!-- Radio group for QC Status -->
                    <mat-radio-group
                      formControlName="qcStatus"
                      (change)="onChildAccordionFinish(qcIndex, stageIndex)"
                    >
                      <mat-radio-button value="accepted"
                        >Accept</mat-radio-button
                      >
                      <mat-radio-button class="reject" value="rejected"
                        >Reject</mat-radio-button
                      >
                    </mat-radio-group>
                    <!-- Rejection reason field -->
                    <div *ngIf="stage.get('qcStatus').value === 'rejected'">
                      <mat-form-field appearance="outline">
                        <mat-label>Rejection Reason</mat-label>
                        <textarea
                          matInput
                          formControlName="rejectionReason"
                          placeholder="Rejection Reason"
                        ></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </mat-expansion-panel>
              </div>
            </mat-accordion>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </mat-accordion>
  <!-- Submit button -->
  <div class="right_btn">
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </div>
  <!-- Display final form data -->
  <pre *ngIf="finaldata" style="background-color: #030303; color: #f5f5f5;padding: 5px;">
{{ finaldata | json }}
    </pre
  >
</form>
